body{
    padding-bottom:30px;
}

.header i.icon{
    font-size:1.5em;
}

.menu.right i{
    margin-left:6px!important;
}

.content-wrapper{
    margin-top:6em;
}

.float-right{
    float:right;
}

.delete-form{
    display:inline;
}

.margin-top{
    margin-top:14px;
}

.messages{
    margin-bottom:30px;
}